@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora&display=swap");

@import "tailwindcss";

@layer utilities {
  .container {
    margin: auto;
    padding-inline: 8rem;
  }

  @media screen and (max-width: 1535px) {
    .container {
      padding-inline: 4rem;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      padding-inline: 1.5rem;
    }
  }
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;
}

@layer base {
  /* * {
    outline: 1px solid red;
  } */

  html {
    scroll-behavior: smooth;
  }

  a {
    font-size: 1rem;
  }

  h2 {
    @apply text-[2.5rem] font-medium text-center text-slate-700;
  }

  h3 {
    @apply text-2xl;
  }

  @media screen and (max-width: 1535px) {
    h1 {
      line-height: 130%;
    }
    h1 br {
      display: none;
    }
  }

  @media screen and (max-width: 769px) {
    h2 {
      @apply text-[1.8rem];
    }

    h3 {
      @apply text-xl;
    }
  }
}

@layer components {
  .header-section {
    background-image: url(../img/bg-1.png), url(../img/small_puzzle_image.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat, repeat;
    background-size: cover, 25%;
  }

  .header-input {
    @apply border-2 border-green-700 rounded-sm outline-0 w-full p-2 text-green-950;
  }

  .card {
    @apply transition-all duration-400;
  }
  .card:hover {
    @apply transform scale-103;
  }

  .btn {
    @apply bg-green-800 text-white rounded-xl shadow-lg py-4 px-7 hover:transform hover:scale-105 transition-all duration-300;
  }

  .location-btn {
    @apply text-green-800 transition-all duration-300 flex gap-1 py-3 px-5 border-2 border-green-700 rounded-4xl hover:scale-105;
  }

  .nav-getbtn {
    display: block;
  }

  .nav-ul {
    width: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 5rem;
    background-color: white;
    padding: 1.5rem;
    z-index: 99;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }

  .btn-bar {
    display: none;
  }

  @media screen and (max-width: 1279px) {
    .location-btn {
      @apply px-3 text-sm items-center;
    }
  }

  @media screen and (max-width: 1023px) {
    .btn-bar {
      display: block;
    }

    .nav-getbtn {
      display: none;
    }
  }
}
